/* this is a wildcard applying the characteristics to all elements */
* { 
    box-sizing: border-box;
}

html, body {
    /*Variables*/
    --border-radius: 150px;
    --gutter: 3.125vw 6.25vw;

    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 30px;
    font-family: "Syne", sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 3;
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 4;
}

/* Navigation */

nav {
    position: fixed; /*this keeps the navigation always on the screen*/
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex; /*felix allows for flexible and responsive design. aligns and distributes space among items in the container*/
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none; /*takes away the bullet point from the elements of the list*/
    margin-left: 45px;
}

nav ul li a {
    color: white;
    font-family: monospace;
}

/*About Section*/

section.about {
    z-index: 2;
}

section.about .empty{ 
    flex-basis: 37.5vw;
    background: #9c9191;
    border-radius: var(--border-radius); /*how much the corder of the box should be rounded off*/
    min-width: 20%;
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.about article {
    flex: 1;
    /*
    Equivalent to:
    flex-grow: 1; determines how much a flex item should grow, = 1 means the flex can grow to occupy all space along the main axis
    flex-shrink: 1; same but for shrink
    flex-bases: 0%; specifies the inital size of a flex item before any available space distributed, =0 mean no space taken
    */
    display: flex; /* defines a flex container*/
    flex-direction: column;
}

section.about article .title {
    flex: 1;
    display: flex;
    align-items: flex-end;
    background: #1c47ff;
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: #d6a3fb;
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: black;
}

/* service section */

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center; /*aligns flex items along the cross axis*/
    justify-content: center; /*aligns flex items along the main axis*/
    flex-basis: 56.25vw;
    margin: 0;
    background: rgb(197, 247, 133);
    border-radius: var(--border-radius);
    max-width: 68.2%;
    min-width: 20%;
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);
}

section.service figure img {
    width:40%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1f1a1c;
    padding: 3.125vw;
    border-radius: var(--border-radius);
    
}

section.service .text a {
    font-family: "Space Mono", monospace;
}

/* service section animations */

section.service.service-code figure img {
    animation-name: sineMotion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes sineMotion {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

/* Contact Section*/

section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(yellow 50%, blue, red 85%);
    border-radius: var(--border-radius);
}

section.contact a {
    font-size: 100px;
    color:black;
    font-weight: bold;
    transition: color 2s;
}

section.contact a:hover {
    color: white
}


/* service section overrides */

section.service.service-code figure {
    background-color: rgb(12, 208, 208);
}

section.service.service-code .text h2,
section.service.service-code .text a {
    color: rgb(225, 253, 124);
}

section.service.service-art figure {
    background-color: rgb(12, 61, 208);
}

section.service.service-art .text h2,
section.service.service-art .text a {
    color: rgb(0, 200, 255)40, 255, 252);
}

section.service.service-gameDev figure {
    background-color: rgb(208, 12, 55);
}

section.service.service-gameDev .text h2,
section.service.service-gameDev .text a {
    color: rgb(0, 115, 255);
}


/* responsive */

@media only screen and (max-width: 768px) {
    html, body {
        --border-radius: 50px;
        --gutter: 6.25vw;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.service article {
        flex-direction: column;
    }

    section.service figure {
        flex-basis: 25vh;
    }

    section.service figure img {
        width: 20%;
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg);
    }
}