.section--main {
    z-index: 999;
    position: relative;
    flex-direction: column;
    height: 100vh;
    display: flex;
    background: black;

    .div--top-background {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex: 1;
    z-index: 1000;

        h1 {
            font-family: var(--_fontheader);
            font-size: 10vw;
            text-shadow: 2px 2px 5px black,
            5px 5px 70px lightgray;
            top: -3rem;
            left: 1rem;
            color: black;
            -webkit-text-stroke: 2px white;
            z-index: 1002;
        }

        .background--colombia {
            position: absolute;
            width: 100%;
            height: auto;
            z-index: 1001;
        }

        .img--logo {
            width: 35vw;
            max-width: 100%;
            top: -4rem;
            left: 1vh;
            z-index: 1002;
        }
    }


    .section--main--text {
        z-index: 1000;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        width: 50%;
        margin-left: 2rem;
        padding: 3vw;
        display: flex;
        position: relative;
        top: -3rem;
        left: 1rem;
    }
}

