.section--art {
    position: relative;
    width: 100vw;
    height: 150vh;
    z-index: 2;
}

.header--art{
    position: fixed;
    top: 20%;
    left: 5rem;
    z-index: 1;

    a {
        color: black;
        -webkit-text-stroke: 2px white;
        text-decoration: none;
        font-weight: 500;
    }
    
    a:hover,
    a:focus
    {
        color: invert($color: #000000);
        -webkit-text-stroke: 4px rgb(0, 0, 0);
    }
}

.img--penguin {
    position: fixed;
    top: 20%;
    left: 5rem;
    z-index: 0;
    transform: scaleX(-1);
}