html, body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

:root {
    --_fontheader: 'Franklin Gothic Heavy';
}

header, nav, main {//new
    max-width: 2200px; //new
}


body {
    position: relative;
    overflow-x: hidden;
}

h2 {
    //position: relative;
    //align-items: center;
    font-family: var(--_fontheader);
    font-size: 7rem;
    text-shadow: 2px 2px 5px black,
    5px 5px 70px lightgray;
    color: black;
    -webkit-text-stroke: 2px white;
}

section {
    width: 100vw;
}

//.border {
//    pointer-events: none;
//}

@import '_nav.scss';
@import '_section-main.scss';
@import '_section-code.scss';
@import '_section-art.scss';
@import '_section-gamedev.scss';



//CONTACT

.section--contact {
    position: relative;
    top: 10rem;
    z-index: 30;
}

.contact__inner {
    display: flex;
    background: black;
    font-size: 1rem;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 500;
    }
    
    a:hover,    
    a:focus
    {
        color: blue;
    }
}

.address-column {
    margin-top: 3rem;
    padding: 1rem;
    width: 50%;
}

.linksColumn {
    padding: 3rem;
    width: 50%;
}

//General
