html, body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

:root {
    --_fontheader: 'Franklin Gothic Heavy';
}

body {
    position: relative;
    overflow-x: hidden;
}

main {
    position: relative;
}

h2 {
    position: relative;
    align-items: center;
    font-family: var(--_fontheader);
    font-size: 10vw;
    text-shadow: 2px 2px 5px black,
    5px 5px 70px lightgray;
    color: black;
    -webkit-text-stroke: 2px white;
    z-index: 0;
}

.section--main {
    .div--top-background {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1000;

        h1 {
            position: absolute;
            align-items: center;
            font-family: var(--_fontheader);
            font-size: 10vw;
            text-shadow: 2px 2px 5px black,
            5px 5px 70px lightgray;
            top: -3rem;
            left: 1rem;
            color: black;
            -webkit-text-stroke: 2px white;
        }

        .background--colombia {
            width: 100%;
            height: auto;
        }
    }

    .img--logo {
        position: absolute;
        width: 40vw;
        top: 15rem;
        left: 36rem;
        z-index: 1000;
    }

    .section--main--text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 3.0vw;
        border-radius: 20px;
        width: 50%;
        left: 1rem;
        font-size: 40px;
        z-index: 999;
    }
}

.black-square {
    position: absolute;
    width: 100%;
    height: 1300px;
    background-color: rgb(0, 0, 0);
    z-index: 998;
}

@import '_nav.scss';

.border {
    pointer-events: none;
}

.section--code {
    position: relative;
    width: 100vw;
    height: 150vh;
    z-index: 2;
}

.div--boder-code {
    position: relative;
    width: 100%;
    height: 100%;
    top: -1rem;
    z-index: 1;
    background: url("../images/borderCode.png") top center;
    background-repeat: repeat-x;
}

.header--code{
    position: fixed;
    top: 20%;
    left: 5rem;
    z-index: 0;

    a {
        color: black;
        -webkit-text-stroke: 2px white;
        text-decoration: none;
        font-weight: 500;
    }
    
    a:hover,
    a:focus
    {
        color: invert($color: #000000);
        -webkit-text-stroke: 4px rgb(0, 0, 0);
    }
}

.text--code {
    
    position: fixed;
    width: 50%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 3.0vw;
    border-radius: 20px;
    font-size: 40px;
    top: 25%;
    right: 1rem;
    z-index: 0;

}

.div--border--code-art {
    position: relative;
    width: 100%;
    height: 100%;
    top: -10rem;
    z-index: 1;
    background: url("../images/borderCodeArt.png") top center;
    background-repeat: repeat-x;

}


.background--img {
    position: fixed;
    top: 1rem;
    left: 0rem;
    border-radius: 200px;
    width: 100%;
    opacity: 0.5;
    z-index: 0;
}

.feature-img {
    position: relative;
    width: 600px;
}


